html {
	font-family: sans-serif;
	font-size: 16px;
	background: url('../resources/images/background-left.png') fixed, url('../resources/images/background-right.png') fixed;
	background-position: left bottom, right bottom;
	background-repeat: no-repeat;
	transition: all .5s;
}

#notyContainer {
	display: inline-block;
	position: fixed;
	width: 50%;
	left: 25%;
	top: 4em;
	z-index: 1000;
}

body {
	overflow-y: scroll;
}

a {
	text-shadow: none;
	text-decoration: none;
	font-weight: bold;
	color: #7f0000;
}

a:hover {
	text-shadow: #7f0000 0px 0px .5px;
}

ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	font-size: 12px !important;
	border: 1px solid #7f0000 !important;
	box-shadow: none !important;
	background: #fff !important;
	padding: 4px !important;
	transition: all 0.30s ease-in-out;
}

button:hover {
	background: #7f0000 !important; 
	color: #fff;
	box-shadow: #7f0000 0px 0px 2px;
}

button:focus {
	outline: none !important;
	box-shadow: none !important;
}

img {
	display: block;
	border: 1px solid #ccc;
}

input[type=text], input[type=email], input[type=password],textarea {
	width: 60%;
	padding: 3px 7px;
	outline: none;
	border: 1px solid #7f0000;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	box-shadow: #7f0000 0px 0px 5px !important;
}

/* Content wrapper styles */

.wrapper {
	width: 72%;
	margin: 6% auto;
	padding: 1% 2%;
	background: #fff;
	color: #222;
}

.pageHeader > h1 {
	color: #222;
	padding: 0;
	margin: 2% 2% 0 2%;
}

.welcomeWallaper {
	position: absolute;
	right: 5%;
	bottom: 40%;
	width: 300px;
	height: 230px;
	background: url('../resources/images/suits.jpg') no-repeat 0% 0%;
	background-size: 100%;
	z-index: 100;
}

.loginForm, .registerForm, .welcomeForm {
	position: relative;
	z-index: 200;
}

.loginForm > div > button, .registerForm > div > button {
	font-size: 1.1em !important;
	padding: 1% !important;
}

.clearfix:after {
	clear: both;
	display: block;
	content: '';
}