html {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
}

#notyContainer {
	display: inline-block;
	position: fixed;
	width: 25%;
	left: 1em;
	bottom: 1em;
}

body {
	overflow-y: scroll;
}

a {
	text-shadow: none;
	text-decoration: none;
	font-weight: bold;
	color: #7f0000;
	transition: all 0.30s ease-in-out;
}

a:hover {
	text-shadow: #7f0000 0px 0px .5px;
}

ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	font: normal normal 12px Verdana, Geneva, sans-serif !important;
	border: 1px solid #7f0000 !important;
	border-radius: 2px !important;
	box-shadow: none !important;
	background: #fff !important;
	padding: 3px !important;
	transition: all 0.30s ease-in-out;
}

button:hover {
	background: #7f0000 !important; 
	color: #fff;
	box-shadow: #7f0000 0px 0px 2px;
}

img {
	 border: 1px solid #ccc;
}

input[type=text], input[type=email],input[type=password] {
	width: 50%;
	padding: 3px 7px;
	outline: none;
	border: 1px solid #7f0000;
	border-radius: 2px;
	transition: all 0.30s ease-in-out;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	box-shadow: #7f0000 0px 0px 3px !important;
}

/* Logged user header styles */

.loggedUserHeader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	z-index: 999;
	background: #fff; 
	box-shadow: #7f0000 0px 0px 5px;
}

.loggedUserHeader .profileImageContainer {
	position: absolute;
	width: 8%;
	background: #fff; 
	border: 5px solid #fff;
	border-radius: 2px;
	box-shadow: #7f0000 0px 0px 5px;
}

.loggedUserHeader .profileImageContainer > img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.loggedUserHeader .usernameContainer {
	position: absolute;
	top: 15px;
	left: 10%;
	width: 25%;
	padding: 0 1%;
	text-align: left;
}

.loggedUserHeader .headerNavigation {
	position: absolute;
	top: 15px;
	left: 35%;
	width: 35%;
}

.loggedUserHeader .headerNavigation > ul {
	width: 100%;
}

.loggedUserHeader .headerNavigation > ul > li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0 2.5%;
}

.loggedUserHeader .headerNavigation > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
}

.loggedUserHeader .usersSearchContainer {
	position: absolute;
	right: 0;
	top: 10%;
	width: 30%;
	height: 40px;
}

.loggedUserHeader .usersSearchContainer > span {
	display: inline-block;
	padding: 5px; 
	vertical-align: middle;
}

.loggedUserHeader .usersSearchContainer > div {
	display: inline-block;
	vertical-align: middle;
	width: 70%;
	height: 30px;
	padding: 2% 2%;
}

.loggedUserHeader .usersSearchContainer .searchForm {
	width: 100%;
	margin: 0 auto;
	vertical-align: middle;
}

.loggedUserHeader .usersSearchContainer .searchForm > input {
	width: 94%;
	padding: 2%;
	font-size: 1.2em;
}

.searchResultList {
	width: 98%;
	background: #f8f8f8; 
}

.searchResult {
	width: 97%;
	height: 50px;
	padding: 1%;
	border: 1px solid #c0c0c0; 
}

.searchResult .resultImage {
	display: inline-block;
	width: 18%;
	max-width: 18%;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.searchResult .resultName {
	display: inline-block;
	width: 60%;
	vertical-align: middle;
}

.loggedUserHeader .headerNavigation > ul > li > .home{
	background: url('../resources/home-icon.png') no-repeat center center;
	background-size: cover;
}

.loggedUserHeader .headerNavigation > ul > li > .wall{
	background: url('../resources/wall-icon.png') no-repeat center center;
	background-size: cover;
}

.loggedUserHeader .headerNavigation > ul > li > .editProfile{
	background: url('../resources/edit-profile-icon.png') no-repeat center center;
	background-size: cover;
}

.loggedUserHeader .headerNavigation > ul > li > .friendRequests{
	background: url('../resources/friend-requests-icon.png') no-repeat center center;
	background-size: cover;
}

.loggedUserHeader .headerNavigation > ul > li > .changePassword{
	background: url('../resources/password-change-icon.png') no-repeat center center;
	background-size: cover;
}

.loggedUserHeader .headerNavigation > ul > li > .logout{
	background: url('../resources/logout-icon.png') no-repeat center center;
	background-size: cover;
}

/* Content wrapper styles */

.wrapper {
	width: 72%;
	margin: 6% auto;
	padding: 0 2%;
	background: #fff;
	color: #222;
}

.pageHeader > h1 {
	color: #222;
	padding: 0 2%;
	margin: 0 0 1% 0;
}

/* Post styles */

.post {
	padding: 1% 0%;
}

.postsContainer {
	width: 60%;
	padding: 0 2%;
	margin: 2% 0;
	float: left;
}

.addPostOption{
	padding: 0 2% 2% 2%;
  	border-bottom: 2px solid #ccc;
}

.postHeader .postAuthorImage {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	max-width: 5em;
	margin: .5%;
	border: 1px solid #ccc;
}

.postHeader .postInfo {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}

.postDate {
	font-size: .8em;
}

.postAuthor, .postWallOwner {
	display: inline-block;
	vertical-align: middle;
}

.postContent {
	margin: 1% 0;
}

.postOptions {
	font-size: .8em;
}

.postOptions > div {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1% 0 0;
}

/* Comment styles */

.comment {
	display: inline-block;
	width: 92%;
	margin: 2% 0 0 8%;
	font-size: .8em;
}

.commentInfo {
	display: inline-block;
	vertical-align: middle;
}

.commentHeader {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}

.commentDate {
	display: block;
}

.commentHeader .commentAuthorImage {
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	max-width: 3em;	
	margin: .5%;
	border: 1px solid #ccc;
}

.commentContent {
	margin: 1% 0;
}

.commentHeader .commentAuthorName {
	display: inline-block;
	vertical-align: middle;
}

.commentOptions > div, .commentOptions > span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1% 0 0;
}

.showMoreButtonContainer {
	margin: 1% 0;
}

.commentPostContainer {
	width: 100%;
	margin: 1% 0 0 0;
}

/* Friends preview styles */

.friendsPreviewContainer {
	width: 30%;
	padding: 0 0 0 2%;
	margin: 2% 0;
	float: left;
	border-left: 2px solid #ccc;
}

.friendsPreviewContainer > header > h2 {
	color: #222;
	display: inline-block;
	margin: 1% 0;
}

.friendsPreviewList {
	display: block;
	width: 100%;
}

.friendsPreviewCount {
	display: inline-block;
	padding: 1% 1% 5% 1%;
	font-size: 1.1em;
}

.friendsPreviewFriend {
	display: block;
	width: 98%;
	margin: 1% auto;
	vertical-align: middle;
}

.friendsPreviewFriendProfileImage {
	display: inline-block;
	width: 6em;
	max-width: 6em;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.friendsPreviewFriendName {
	display: inline-block;
	width: 40%;
	font-size: .9em;
	vertical-align: middle;
}

/* Friend requests styles */

.requestsContainer {
	position: absolute;
	width: 250px;
	left: 20%;
	top: 110%;
}

.requestsContainer > ul {
	width: 100%;
	background: #f8f8f8;
	border: 1px solid #c0c0c0;
}

.request {
	width: 97%;
	padding: 1%;
	border: 1px solid #c0c0c0;
}

.requestProfileImage {
	display: inline-block;
	width: 4em;
	max-width: 4em;
	margin: 2%;
	vertical-align: middle;
	border: 1px solid #ccc;
}

.requestName {
	display: inline-block;
	width: 60%;
	font-size: .9em;
	vertical-align: middle;
}

.requestOptions, .hideRequests {
	display: block;
	text-align: right;
	background: #f8f8f8;
}

.hideRequests {
	padding: 1% 0;
	text-align: center;
}

/* User preview styles */

.userPreviewContainer {
	padding: .5%;
	background: #fff;
	position: absolute;
	box-shadow: #222 0 0 2px;
}

.userPreviewImage, .userPreviewName {
	display: inline-block;
	vertical-align: middle;
}

.userPreviewImage {
	width: 5em;
	max-width: 5em;
	border: 1px solid #ccc;
}

.userPreviewOptions {
	display: block;
	text-align: right;
}

/* User wall header styles */

.userImagesContainer {
	position: relative;
	width: 100%;
	height: 250px;
	background: #f8f8f8; 
}

.userProfileImage {
	position: relative;
	top: 4%;
	left: 1%;
	width: 20%;
	border: 2px solid #f8f8f8;
	z-index: 998;
}

.userCoverImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 997;
	overflow: hidden;
}

.userProfileImage > img, .userCoverImage > img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.wallOwnerName > h2 {
	padding: 0 2% 0 2%;
	color: #222;
}

/* Clearfix */

.clearfix:after {
	clear: both;
	display: block;
	content: '';
}