<div ng-repeat="comment in comments">
	<img ng-src="{{comment.author.profileImageData}}" style="width:50px" alt="">
	<span user-preview user-username="comment.author.username" user-name="comment.author.name"></span>
	<span>{{comment.commentContent}}</span>

	<span ng-if="comment.likeDislikeOptionAvailable">
		<button ng-if="!comment.liked" ng-click="likeComment(comment.id)">Like&nbsp;&#128077;</button>
		<button ng-if="comment.liked" ng-click="unlikeComment(comment.id)">Unlike&nbsp;&#128078;</button>
	</span>
	
	<span ng-if="comment.deleteOptionAvailable">
		<button ng-click="deleteComment(comment.id)">Delete&nbsp;&#x2718;</button>
	</span>
</div>

<span ng-if="post.commentOptionAvailable">
	<input type="text" ng-model="commentContent">
	<button ng-click="addComment(commentContent)">Comment&nbsp;&#x270E;</button>
</span>