<div>
	<form class="form-horizontal col-sm-10 col-sm-offset-1">
		<div class="form-group">
			<h3 class="text-center">Edit profile information</h3>
		</div>
		
		<div class="form-group">
			<label class="control-label">Name:</label>
			<input type="text" name="name" ng-model="editedProfileData.name" class="form-control input-lg" />
		</div>
		
		<div class="form-group">
			<label class="control-label">Email:</label>
			<input type="email" name="email" ng-model="editedProfileData.email" class="form-control input-lg" />
		</div>
		<div class="form-group">
			<label class="control-label">Gender: </label>
		    <label class="btn btn-primary" ng-model="editedProfileData.gender" btn-radio="'Other'" uncheckable>Other</label>
		    <label class="btn btn-primary" ng-model="editedProfileData.gender" btn-radio="'Male'" uncheckable>Male</label>
		    <label class="btn btn-primary" ng-model="editedProfileData.gender" btn-radio="'Female'" uncheckable>Female</label>
		</div>
	</form>

	<form class="form-inline">
		<div class="form-group col-sm-4 col-sm-offset-1">
			<div class="uploadContainer">
				<span class="btn btn-primary btn-file">
					Upload Profile Image<input type="file" ng-model="editedProfileData.profileImageData" class="form-control input-sm" base-sixty-four-input/>
				</span>
		    	<img ng-src="{{editedProfileData.profileImageData}}" class="profileImagePreview thumbnail img-responsive" base-sixty-four-image="editedProfileData.profileImageData" />
		    </div>
		</div>
		<div class="form-group col-sm-4 col-sm-offset-2">
			<div class="uploadContainer">
				<span class="btn btn-primary btn-file">
					Upload Cover Image<input type="file" ng-model="editedProfileData.coverImageData" class="form-control input-sm" base-sixty-four-input/>
				</span>
		    	<img ng-src="{{editedProfileData.profileImageData}}" class="coverImagePreview thumbnail img-responsive" base-sixty-four-image="editedProfileData.coverImageData" />
		    </div>
		</div>
	</form>

	<div class="form-group col-sm-2 col-sm-offset-5">
		<button class="btn btn-lg btn-primary" ng-click="editOwnProfile(editedProfileData)">Submit changes</button>
	</div>
</div>
