<header class="pageHeader">
	<h1>Edit Profile Information</h1>
</header>

<div>
	<form>	
		<div>
			<label>Name:</label>
			<input type="text" name="name" ng-model="editedProfileData.name"/>
		</div>
		
		<div>
			<label>Email:</label>
			<input type="email" name="email" ng-model="editedProfileData.email"/>
		</div>
		<div>
			<label>Gender: </label>
		    <input type="radio" value="Other" ng-model="editedProfileData.gender">Other</label>
		    <input type="radio" value="Male" ng-model="editedProfileData.gender">Male</label>
		    <input type="radio" value="Female" ng-model="editedProfileData.gender">Female</label>
		</div>
	</form>

	<form>
		<div>
	    	<img ng-src="{{editedProfileData.profileImageData}}" base-sixty-four-image="editedProfileData.profileImageData" />
	    	<input type="file" ng-model="editedProfileData.profileImageData" base-sixty-four-input/>
		</div>
		<div>
	    	<img ng-if="editedProfileData" ng-src="{{editedProfileData.coverImageData}}" base-sixty-four-image="editedProfileData.coverImageData" />
	    	<input type="file" ng-model="editedProfileData.coverImageData" base-sixty-four-input/>
		</div>
	</form>

	<div>
		<button ng-click="editOwnProfile(editedProfileData)">Submit changes</button>
	</div>
</div>
