<header class="pageHeader">
	<h1>Edit Profile Password</h1>
</header>

<div class="changePasswordContainer">
	<form class="changePasswordForm">		
		<div class="group">
			<label>Old Password:</label>
			<input type="password" name="oldPassword" ng-model="editedProfilePasswordData.oldPassword"/>
		</div>
		<div class="group">
			<label>New Password:</label>
			<input type="password" name="newPassword" ng-model="editedProfilePasswordData.newPassword"/>
		</div>
		<div class="group">
			<label>Confirm new Password:</label>
			<input type="password" name="confirmPassword" ng-model="editedProfilePasswordData.confirmPassword"/>
		</div>

	<div class="submitChanges">
		<button ng-click="editPassword(editedProfilePasswordData)">Submit changes</button>
	</div>
</div>
