<div>
	<form >
		<div>
			<h3>Edit profile password</h3>
		</div>
		
		<div>
			<label>Old Password:</label>
			<input type="password" name="oldPassword" ng-model="editedProfilePasswordData.oldPassword"/>
		</div>
		<div>
			<label>New Password:</label>
			<input type="password" name="newPassword" ng-model="editedProfilePasswordData.newPassword"/>
		</div>
		<div>
			<label>Confirm new Password:</label>
			<input type="password" name="confirmPassword" ng-model="editedProfilePasswordData.confirmPassword"/>
		</div>

	<div >
		<button ng-click="editPassword(editedProfilePasswordData)">Submit changes</button>
	</div>
</div>
