<div class="profileImageContainer">
	<img ng-src="{{loggedUserHeaderData.profileImageData}}">
</div>

<div class="usernameContainer">
	<a href="#/users/{{loggedUserHeaderData.username}}">{{loggedUserHeaderData.name}}({{loggedUserHeaderData.username}})</a>
</div>

<nav class="headerNavigation">
	<ul>
		<li><a class="home" href="#/home"></a></li>
		<li><a class="wall" href="#/users/{{loggedUserHeaderData.username}}/"></a></li>
		<li><a class="editProfile"href="#/profile"></a></li>
		<li>
			<a class="friendRequests" href="" ng-click="getFriendRequests()"></a>
			<div class="requestsContainer">
				<ul friend-requests ng-show="requestsVisible"></ul>
			</div>
		</li>
		<li><a class="changePassword" href="#/profile/password"></a></li>
		<li><a class="logout"href="#/logout"></a></li>
	</ul>
</nav>

<div class="usersSearchContainer">
	<span>Search</span>
	<div users-search></div>
</div>