<div class="profileImageContainer">
	<img ng-src="{{loggedUserHeaderData.profileImageData}}">
</div>

<div class="usernameContainer">
	<a href="#/users/{{loggedUserHeaderData.username}}">{{loggedUserHeaderData.name}}({{loggedUserHeaderData.username}})</a>
</div>

<nav class="headerNavigation">
	<ul>
		<li><a class="home" href="#/home" title="Home Page / News Feed"></a></li>
		<li><a class="wall" href="#/users/{{loggedUserHeaderData.username}}/" title="User Wall"></a></li>
		<li>
			<a class="friendRequests" href="" title="Friend Requests" ng-click="showRequests()"></a>
			<div friend-requests class="requestsContainer"></div>
		</li>
		<li><a class="editProfile" href="#/profile"  title="Edit Profile"></a></li>
		<li><a class="changePassword" href="#/profile/password"  title="Change Password"></a></li>
		<li><a class="logout"href="#/logout" title="Logout"></a></li>
	</ul>
</nav>

<div class="usersSearchContainer">
	<span></span>
	<div users-search></div>
</div>