<div class="post" ng-repeat="post in posts">
	<header class="postHeader">
		<img class="postAuthorImage" ng-src="{{post.author.profileImageData}}" alt="" />
		
		<div class="postInfo">
			<div class="postAuthor" user-preview user-username="post.author.username" user-name="post.author.name"></div>
			<span> posted to </span>
			<div class="postWallOwner" user-preview user-username="post.wallOwner.username" user-name="post.wallOwner.name"></div>
			<span> wall</span>
			<dt class="postDate" >{{post.date | date: 'medium'}}</dt>
		</div>
	</header>

	<section class="postContent">
		<textarea class="editPostTextarea" ng-if="editPostContainer[post.id]" ng-model="editPostContainer[post.id]"></textarea>
		<span ng-if="!editPostContainer[post.id]">{{post.postContent}}</span>
	</section>

	<section class="postOptions">
		<span>Likes: {{post.likesCount}}</span>
		<span>Comments: {{post.totalCommentsCount}}</span>

		<div ng-if="post.likeDislikeOptionAvailable">
			<button ng-if="!post.liked" ng-click="likePost(post)">Like&nbsp;&#128077;</button>
			<button ng-if="post.liked" ng-click="unlikePost(post)">Unlike&nbsp;&#128078;</button>
		</div>

		<div ng-if="post.editOptionAvailable">
			<button ng-if="!editPostContainer[post.id]" ng-click="enableEditPost(post)">Edit&nbsp;&#x270E;</button>
			<div ng-if="editPostContainer[post.id]">
				<button ng-click="editPost(post)">Save&nbsp;&#x2714;</button>
				<button ng-click="cancelEditPost(post)">Cancel&nbsp;&#x2718;</button>
			</div>
		</div>

		<div ng-if="post.deleteOptionAvailable">
			<button ng-click="deletePost(post)">Delete&nbsp;&#x2718;</button>
		</div>
	</section>
	<section class="commentContainer" post-comments></section>
</div>

<h2 ng-if="posts.length == 0">No posts on this user's wall. :/</h2>