<form>
	<div>
		<label>Name: </label>
		<input type="text" name="name" ng-model="editedProfileData.name" />
	</div>
	
	<div>
		<label>Email: </label>
		<input type="email" name="email" ng-model="editedProfileData.email" />
	</div>
	<div>
		<label>Profile image: </label>
		<input type="file" ng-model="editedProfileData.profileImageData" base-sixty-four-input />
		<img base-sixty-four-image="editedProfileData.profileImageData">
	</div>
	<div>
		<label>Cover image: </label>
		<input type="file" ng-model="editedProfileData.coverImageData" base-sixty-four-input />
		<img base-sixty-four-image="editedProfileData.coverImageData">
	</div>
	<div>
		<label>Male: </label><input type="radio" name="gender" value="Male" ng-model="editedProfileData.gender" />
		<label>Female: </label><input type="radio" name="gender" value="Female" ng-model="editedProfileData.gender" />
		<label>Other: </label><input type="radio" name="gender" value="Other" ng-model="editedProfileData.gender" />
	</div>

	<button ng-click="editProfile(editedProfileData)">EditProfile</button>
</form>