<form>
	<div>
		<h2>Registration page</h2>
	</div>
	<div>
	    <input type="text" name="username" ng-model="user.username" class="form-control input-lg" placeholder="Username">
  	</div>
	<div>
	    <input type="password" name="password" ng-model="user.password" placeholder="Password"/>
	</div>
	<div>
	    <input type="password" name="confirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password"/>
	</div>
	<div>
	    <input type="text" name="name" ng-model="user.name" placeholder="Full name"/>
	</div>

	<div>
	    <input type="email" name="email" ng-model="user.email" placeholder="Email"/>
	</div>

	<div>
		<label>Gender: </label>
	    <input type="radio" value="Other" ng-model="user.gender">Other</label>
	    <input type="radio" value="Male" ng-model="user.gender">Male</label>
	    <input type="radio" value="Female" ng-model="user.gender">Female</label>
	</div>
	<div>
		<button ng-click="register(user)">Register</button>
		<a href="#/login">Login</a>
	</div>
</form>