<div class="userImagesContainer">
	<div class="userProfileImage">
		<img ng-src="{{wallOwner.profileImageData}}" alt="">
	</div>
	<div class="userCoverImage">
		<img ng-src="{{wallOwner.coverImageData}}" alt="">
	</div>
	<div class="userCoverStatus" ng-if="!isOwnWall">
		<span class="status" ng-if="wallOwner.isFriend">Friends</span>
		<span class="status" ng-if="wallOwner.hasPendingRequest">Pending Request</span>
		<button class="status" ng-if="!(wallOwner.isFriend || wallOwner.hasPendingRequest)" ng-click="sendFriendRequest()">Invite</button>
	</div>
</div>

<header class="wallOwnerName">
	<h2>{{wallOwner.name}}'s Wall</h2>
</header>