<header user-header></header>

<div class="addPostOption" ng-if="postOptionAvailable">
	<form name="newPostForm">
		<input type="text" name="postContent" placeholder="Post something here..." ng-model="postContent" />
		<button ng-click="addNewPost(postContent)">Submit</button>
	</form>
</div>

<div 
	class="postsContainer" 
	posts 
	infinite-scroll='loadPosts()'
    infinite-scroll-disabled='stopScroll'
    >
</div>
<aside class="friendsPreviewContainer" ng-if="friendsPreviewAvailable" friends-preview></aside>